* {
    margin: 0;
}
html, body {
    height: 100%;
    font-family : "Lucida Sans sans-serif";
    color: #666666;
}
body {
    margin: 0;
    padding: 0;
}
/*FONTS*/
html { font-size: 62.5%; }
body { font-size: 1em;}

@media (max-width: 300px) {
    html { font-size: 50%; }
}

@media (min-width: 500px) {
    html { font-size: 75%; }
}

@media (min-width: 700px) {
    html { font-size: 100%; }
}

@media (min-width: 1200px) {
    html { font-size: 120%; }
}
h1, h2, h3 {
    text-align: center;
}
button {
    border: none;
    background-color: lightgray;
    cursor: pointer;
}
button.start {
    width: 60%;
    height: 15vh;
    margin-bottom: 2px;
}
button.play-again {
    width: 60%;
    height: 10vh;
    margin: 2px 0 2px 0;
}
button.close {
    font-weight: bold;
    font-size:2em;
}
button.close.right {
    float: right;
}
button.close.left {
    float:left;
}
button.close:after {
    content: "X"
}
button:hover {
    opacity: 0.5;
    color: black;
}
.blue-color {
    color: #28abe3;
}
.blue-background {
    background-color: #28abe3;
}
.pink-color {
    color: #db3340;
}
.pink-background {
    background-color: #db3340;
}
.green-color {
    color:#1fda9a;
}
.green-background {
    background-color: #1fda9a;
}
.yellow-color {
    color: #e8b71a;
}
.yellow-background {
    background-color: #e8b71a;
}
.clear {
    clear:both;
}
.page-wrap {
    overflow: hidden;
    max-height: 100vh;
    margin-bottom: -15vh;
    width: 80%;
    background-image: url(../img/seamless_paper_texture.png);
    margin-left: auto;
    margin-right: auto;
}
.page-wrap:after {
    content: "";
    display: block;
}
.section.main {
    height: 60vh;
}
.footer, .page-wrap:after {
    height: 15vh;
}
.footer {
    width: 80%;
}
.center-aligned {
    margin-left: auto;
    margin-right: auto;
}
.text-center {
    text-align: center;
}
.paper {
    background: url(../img/paper.png) no-repeat;
}

.stone {
    background: url(../img/stone.png) no-repeat;
}

.scissors {
    background: url(../img/scissors.png) no-repeat;
}
#footer-buttons, .col.footer-buttons {
    height: 100%;
    margin-top: 0;
}
.footer-button {
    height: 100%;
    width: 100%;
}
#content {
  font-size: 1em;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#scores, #instructions {
    height: 100%;
}
.scores-inner, .instructions-inner {
    background: #d6d6d6;
    height: 100%;
    overflow-y: auto;
    font-size: 0.7em;
}
#content {
    height: 100%;
    overflow-y: auto;
}
/*SCORES*/
#scores h1,#instructions h1 {
    font-size: 1em;
}
#scores h2,#instructions h2 {
    font-size: 0.8em;
    clear: both;
}
#scores img,#instructions h2 {
    cursor: default;
}
.item {
  display: inline-block;
  width: 30%;
  border: 1px solid gray;
  padding: 1px;
  cursor: pointer;
  max-height: 30vh;
  max-width: 30vh;
  max-height: 80%;
}
.item img {
    width: 100%;
}
.item img.game-item:hover {
  opacity: 0.5;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 0 0 1% 1.6%;
    height: 100%;
}
.col:first-child { margin-left: 0; }
/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF FOUR   ============================================================================= */

.span_4_of_4 {
    width: 100%;
}

.span_3_of_4 {
    width: 74.6%;
}

.span_2_of_4 {
    width: 49.2%;
}

.span_1_of_4 {
    width: 23.8%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
}

@media only screen and (max-width: 480px) {
    .span_3_of_3 {
        width: 100%;
    }
    .span_2_of_3 {
        width: 100%;
    }
    .span_1_of_3 {
        width: 100%;
    }
}

